@{
    ViewData["Title"] = "Matthew's Pizza Making";
}

<div class="title-container">
    <div class="title-img-container">
        <img src="assets/images/pizza_oven.jpg" class="title-img" alt="Pizza Oven" style="width:100%; height:100%;">
    </div>
    
    <div class="background-overlay"></div>
    
    <div class="text-center title-text-container">
        <h1 class="display-4">Matthew's Pizza Making</h1>
        <h6 class="display-6">Matthew Miwa</h6>
    </div>
</div>

<div class="content-container align-content-center">
    <div class="text-center">
        <h3 class="display-4">Welcome</h3>
    </div>
    
    <div class="content">
        <p>
            Matthew's Pizza Making is a website dedicated to the art of pizza making. I am Matthew Miwa, and I love pizza. I have been on a quest for the perfect pizza recipe. Here you will find
            some of my discoveries, along with some recipes and other discoveries I have made along the way. I hope you enjoy your time here.
        </p>
    </div>
    
    <div class="text-center">
        <h3 class="display-4">Neapolitan Pizza</h3>
    </div>
    
    <div class="content">
        <p>
            Among my favorite pizzas to eat and make, Neapolitan pizza stands at the top.  While seemingly simple, with the crust requiring only a handful of ingredients, the Neapolitan pizza
            is deceptively complex.  Starting with the crust, we must examine the dough.  While experimenting with different recipes, I have made several discoveries.  The first has to do with
            the flour.  One of the essentials to making a Neapolitan pizza is using a proper pizza oven, something that can reach temperatures of 900 degrees Fahrenheit.  With this comes the need
            for a flour that doesn't overcook at such high temperatures, but also doesn't remain doughy and undercooked in such short cook times.  For me the 00 flour, or "doppio zero" flour, has 
            proven to be the best.  It is a finely ground flour that is perfect for making pizza dough.  
        </p>
        <p>
            While Italian Neapolitan purists will condemn this, I have found that one of my favorite pizza dough recipes is actually a sourdough pizza dough.  The sourdough adds a depth of flavor 
            that is hard to replicate with other doughs.  The sourdough also adds a bit of chewiness to the crust, which I find to be a nice contrast to the crispiness of the crust.  I have also 
            found that the sourdough adds a bit of tang to the crust, which I find to be a nice contrast to the sweetness of the tomatoes and the saltiness of the cheese.  My favorite recipe can be 
            found <a href="https://bakedcollective.com/sourdough-pizza-dough/" target="_blank">here</a>.  I substitute the flour in the recipe with 00 flour, and I use an Ooni pizza oven to cook the 
            pizza to perfection
        </p>
    </div>
    
    <div class="content-container">
        <img src="assets/images/pizza.jpg" class="content-img" alt="Neapolitan Pizza" style="width:100%; height:100%;">
    </div>
    
    <div class="text-center">
        <h3 class="display-4">One-Hour Pizza Dough</h3>
    </div>
    
    <div class="content">
        <p>
            While I love the art of Neapolitan Pizza, I don't always have the time to make the dough and let it ferment for 24 hours.  For those times, I have found a great recipe for a one-hour pizza.  
            This recipe became a favorite of my wife and I soon after our marriage.  We decided to have pizza for dinner, but being poor college students, we didn't have the money to order out.  We scoured 
            the internet and stumbled upon a recipe for a one-hour pizza dough.  We were skeptical, but we decided to give it a try.  The recipe was simple, and the dough was easy to make.  We were amazed at 
            the flavor and great texture of the dough.  We have been using this recipe ever since.  The recipe can be found <a href="https://www.thursdaynightpizza.com/1-hour-pizza-dough/" target="_blank">here</a>.  
            A few notes for this pizza, we usually cook this dough in our 11-inch cast iron skillet.  We preheat the skillet on the stove, then coat it with olive oil, then we stretch the dough to fit the skillet.  
            This makes for a great deep dish style pizza that has remained one of our family favorites.
        </p>
    </div>
    
    <div class="text-center">
        <h3 class="display-4">Parting Notes</h3>
    </div>
    
    <div class="content">
        <p>
            I hope you enjoy your time here.  I have had a lot of fun experimenting with different recipes and techniques.  I hope you find something here that you can enjoy.  I hope to continue to add to this 
            site as I continue to experiment and learn.  I hope you will come back and visit again.  Thank you for visiting.
        </p>
    </div>
</div>